@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "outfit-regular";
  src: url(../resources/Outfit/Outfit-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "outfit-regular", sans-serif;
}

body {
  height: 100vh;
}

.author-info {
  font-size: 14px;
  text-align: center;
}

.author-info a {
  text-decoration: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #f8fafc1a;
  color: #f2f5f9;
  text-align: center;
  border-radius: 6px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext.copied {
  width: 72px;
  margin-left: -36px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #f8fafc1a transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
