@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "outfit-semibold";
  font-weight: 600;
  src: url(../resources/Outfit/Outfit-SemiBold.ttf);
}
@font-face {
  font-family: "outfit-medium";
  font-weight: 500;
  src: url(../resources/Outfit/Outfit-medium.ttf);
}
@font-face {
  font-family: "outfit-regular";
  font-weight: 400;
  src: url(../resources/Outfit/Outfit-regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "outfit-regular", sans-serif;
}

.our-team h1,
.all-members {
  font-family: "outfit-medium", sans-serif;
}

.member h1 {
  font-family: "outfit-semibold", sans-serif;
}

body {
  height: 100vh;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}
