@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'sora-semibold';
  font-style: normal;
  font-display: swap;
  src: url('./Sora/Sora-SemiBold.ttf');
}
@font-face {
  font-family: 'sora-regular';
  font-style: normal;
  font-display: swap;
  src: url('./Sora/Sora-Regular.ttf');
}

.reviewers .title,
.review .review-title {
  font-family: "sora-semibold", sans-serif;
}
.reviewers .description,
.reviewers .list {
  font-family: "sora-regular", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sora-regular", sans-serif;
}

body {
  height: 100vh;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

.user-review {
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}