@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter-semibold";
  src: url("./inter/Inter_18pt-SemiBold.ttf");
}
@font-face {
  font-family: "Inter-regular";
  src: url("./inter/Inter_18pt-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter-regular", sans-serif;
  color: #030616;
}

h1 {
  font-family: "Inter-semibold", sans-serif;
}

body {
  height: 100vh;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

.border-b-1 {
  border-bottom: 1px;
}
