@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vietnam-bold";
  src: url("./Be_Vietnam_Pro/BeVietnamPro-bold.ttf");
}
@font-face {
  font-family: "vietnam-semibold";
  src: url("./Be_Vietnam_Pro/BeVietnamPro-semibold.ttf");
}
@font-face {
  font-family: "vietnam-regular";
  src: url("./Be_Vietnam_Pro/BeVietnamPro-regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "vietnam-regular";
}

[type="submit"] {
  font-family: "vietnam-bold";
}
.heading-title,
input,
select,
textarea {
  font-family: "vietnam-semibold";
}
.heading-description {
  font-family: "vietnam-regular";
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 32px;
}

.author-info a {
  text-decoration: none;
}
