@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inter-regular";
  src: url(../resources/Inter/Inter_18pt-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter-regular", serif;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

.wrapper .card {
  background: linear-gradient(
    120deg,
    rgba(229, 231, 235, 0.5) 0.05%,
    rgba(229, 231, 235, 0) 25.05%
  );
}

button.continue {
  background: linear-gradient(180deg, #845eee 0%, #652cd1 100%);
}

.current-step {
  border-color: #845EEE4D;
}
.current-step p {
  background-color: #5425AF;
}

@layer components {
  label:has(input:checked) {
    @apply text-gray-200 bg-[#5425AF];
  }
}