@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-bold";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-black";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./Lato-black.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-semibold";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./Poppins-semibold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  /* color: rgb(55, 65, 81); */
  text-decoration: none;
}

.heading {
  font-family: "Poppins-semibold", sans-serif;
}

.user-name {
  font-family: "Lato-black";
}

.user-address {
  font-family: "Lato-bold";
}
/* user-address */
