@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-semibold";
  src: url("./Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-medium";
  src: url("./Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-regular";
  src: url("./Poppins/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins-regular", sans-serif;
}

h1,
button {
  font-family: "Poppins-semibold", sans-serif;
}

input {
  font-family: "Poppins-semibold", sans-serif;
}

form {
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03),
    0px 8px 12px 0px rgba(0, 0, 0, 0.08);
}

body {
  height: 100vh;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}
