@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "outfit-regular";
  src: url(../resources/outfit/outfit-regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "outfit-regular", serif;
}

body {
  height: 100vh;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

@media (min-width: 640px) {
  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #f8fafc1a;
    color: #f2f5f9;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 110%;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext.copied {
    width: 72px;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    left: -9.5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent #f8fafc1a transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

